.pokecard {
  background-color: #fff;
  width: 13.4rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 4px 10px rgba(32, 20, 168, 0.02),
    0px 4px 8px rgba(32, 20, 168, 0.02),
    0px 4px 4px rgba(32, 20, 168, 0.04);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    border: 2px solid #c0b4ff;
    transform: translate(0, -6px) rotate(3deg);
    box-shadow: 0px 0px 0px 8px rgba(123, 97, 255, 0.1);
  }

  img {
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    font-weight: 800;
    text-align: center;
    color: #a4a1c6;
  }

  p {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    color: #0f0f2e;
  }

  #types {
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    span {
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      height: 1.5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      color: #f6f8fc;
    }
  }
}
